<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
             ntegrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
             crossorigin="anonymous">
    </script>
    <title>Calculator</title>
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../img/kaya_pict.png" alt="" width="30" height="24" class="d-inline-block align-top">
        Calculator
      </a>
    </div>
  </nav>
    
<h1>Flask Desktop Application</h1>
<form method="POST" action=""  enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload Your CSV File</label>
        <input class="form-control" type="file" id="formFile" name="file">
        <div class="d-grid gap-2 col-6 mx-auto"></div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
{% block content%}
  {% if data %}
    {{data[0][0][0]}}
  {% endif %}
{% endblock content%}
<!-- keep running flask server while application is running-->
<script src="../static/stop_server.js"></script>
</body>
</html>
